<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Poblacion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let country of countries; index as i;">
            <th>{{ i + 1 }}</th>
            <th>
                <img [src]="country.flag" width="50" [alt]="country.name">
            </th>
            <th>{{country.capital}}, {{country.name}}</th>
            <th>{{country.population | number}}</th>
            <th>
                <span (click)="showCountry(country.alpha2Code)" class="span-link">Ver...</span>
            </th>
        </tr>
    </tbody>
</table>