<h2>Por pais</h2>
<hr>

<div class="row">
    <div class="col">
        <app-search-country 
            (onEnter)="buscar($event)"
            (onDebounce)="sugerencias($event)"
            placeholder="Buscar por pais..."
        >
        </app-search-country>
    </div>
</div>

<hr>
<div *ngIf="error" class="alert alert-danger">
    No se encontro nada con el pais {{ termino }}
</div>

<div class="row">
    <div class="col">
       <app-table-country 
        *ngIf="countries.length > 0" 
        [countries]="countries">
        </app-table-country>
    </div>
</div>

